.home {
    padding: 0 .5em;
}

.hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    margin: 7.5em auto;
    max-width: 40em;
    text-align: center;
}

.hero__title {
    font-size: max(4vw, 2.5rem);
}

.hero__description {
    color: var(--soft-white);
    line-height: 1.6;
    width: 75%;
}

.hero__form {
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    gap: .8em;
    font-size: 1.2em;
    justify-content: space-between;
    padding: .6em;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hero__input {
    border: 0;
    flex: 1;
    font-size: 1rem;
    outline: none;
    padding-left: 10;
}

.hero__button {
    background-color: var(--purple);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    padding: .8em 1.8em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.crypto-table {
    background: linear-gradient(var(--dark-purple-1), var(--dark-purple-2));
    border-radius: 15px 15px 0 0;
    margin: auto;
    max-width: 50em;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.crypto-table__layout {
    align-items: center;
    border-bottom: 1px solid var(--dark-gray);
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1.5fr;
    padding: 1em 1.4em;
}

.table-layout__column--change {
    text-align: center;
}

.table-layout__column--market {
    text-align: right;
}