:root {
  --white: #fff;
  --dark-blue: #0b004e;
  --dark-black: #1d152f;
  --dark-green: #002834;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  background: linear-gradient(var(--dark-blue),var(--dark-black),var(--dark-green));
  color: var(--white);
  min-height: 100dvh;
}